<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Homework: Cool Submissions and Components</title>
  

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <input type="text" v-model="text" placeholder="Name"/>
  <div></div>
  
  <input type="text2" v-model="text2" placeholder="Email"/>
  <div>{{mess + mess2}}
    
  </div>

<div class="name1" v-on:click.self="codename1">{{name1}}
  </div>
<div> 
  {{name2}}
  </div>
<div> 
  {{name3}}
  </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
